:root {
  --color-main-light: #ede3f0;
  --color-main-medium: #792a84;
  --color-main-dark: #4c1c54;
  --color-main-tone: #7d5f82;

  --color-secondary-light: #f8eaf4;
  --color-secondary-medium: #c658a5;
  --color-secondary-dark: #512547;
  --color-secondary-tone: #99728e;

  --color-accent-light: #f8f9e5;
  --color-accent-medium: #d7df27;
  --color-accent-dark: #373917;
  --color-accent-tone: #959768;

  --color-text-light: #8ca19b;
  --color-text-dark: #1c4436;

  --font-serif: "Mountains of Christmas", serif;
  --font-sans: "Comic Neue", sans-serif;
}

h1 {
  font-family: var(--font-serif);
  font-weight: bold;
  color: var(--color-main-medium);
}

h2 {
  font-family: var(--font-serif);
  font-weight: bold;
  color: var(--color-secondary-medium);
}

h3 {
  font-family: var(--font-sans);
  font-weight: bold;
  font-style: italic;
  color: var(--color-main-dark);
}

h4,
h5,
h6 {
  font-family: var(--font-sans);
  font-weight: bold;
  font-style: italic;
  color: var(--color-accent-dark);
}

@media (max-width: 800px) {
  body {
    font-size: 0.8em;
  }

  .container {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
  .navbar h1 {
    padding-left: 0.5em;
  }
  .view-window-small {
    height: 30vh;
  }
  .view-window {
    height: 75vh;
    position: relative;
    overflow: hidden;
    background-size: 800px 300px;
    background-position: center;
    background-attachment: scroll;
  }

  .card.section {
    height: 90%;
    padding: 0.25em;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    border-radius: 0.5em;
    opacity: 0.8;
  }
  .card.section a {
    text-decoration: none;
  }
  .card.section h2 {
    font-size: 1.75em;
    font-weight: bold;
    text-align: right;
    padding-right: 0.25em;
  }

  .nav-logo {
    height: 3em;
    width: auto;
  }

  .image-main img {
    width: 8em;
    height: 70vh;
    object-fit: contain;
  }
}

a:hover {
  text-decoration: none;
}

.menu-button label {
  display: none;
}

@media (max-width: 425px) {
  .navbar .display-flex {
    flex-wrap: wrap;
  }

  .navbar .nav {
    width: 100%;
    display: none;
  }

  .nav-crumbs {
    font-size: 0.7em;
  }

  .navbar .nav-flex ul {
    display: block;
  }
  .navbar .nav li {
    line-height: 1em;
    padding: 0.25em;
  }

  .menu-button label {
    display: block;
    font-size: 4em;
  }

  #menu:checked + .navbar .nav {
    display: block;
  }

  .image-main img {
    width: 5em;
    height: 70vh;
    object-fit: contain;
  }

  .image-thumb img {
    width: 50px;
    height: 25px;
    object-fit: scale-down;
  }

  .product-overlay figcaption {
    position: relative;
    display: block;
    top: initial;
    left: initial;
    width: 100%;
    height: initial;
    background-color: initial;
    opacity: 1;
  }
  .product-overlay .caption-body {
    transform: none;
    padding: 0;
  }

  .nav-logo {
    height: 3em;
    width: auto;
  }

  .view-window {
    height: 40vh;
    position: relative;
    overflow: hidden;
    background-size: 425px 400px;
    background-position: center;
    background-attachment: scroll;
  }

  .logo-lg {
    height: 5em;
    width: auto;
  }

  .view-window-small {
    height: 15vh;
  }

  .card.section {
    height: 10%;
    padding: 0.1em;
    margin-top: 0;
    margin-bottom: 0.1em;
    border-radius: 0.5em;
    opacity: 0.8;
  }

  .card.section a {
    text-decoration: none;
  }
  .card.section h2 {
    font-size: 1em;
    font-weight: bold;
    text-align: right;
    padding-right: 0.25em;
  }
}

@media (max-width: 375px) {
  .navbar .display-flex {
    flex-wrap: wrap;
  }

  .navbar .nav {
    width: 100%;
    display: none;
  }

  .navbar .nav-flex ul {
    display: block;
  }
  .navbar .nav li {
    line-height: 1em;
    padding: 0.25em;
  }

  .menu-button label {
    display: block;
    font-size: 4em;
  }

  #menu:checked + .navbar .nav {
    display: block;
  }

  .image-main img {
    width: 100%;
    height: 70vh;
    object-fit: contain;
  }

  .image-thumb img {
    width: auto;
    height: 3em;
    object-fit: contain;
  }

  .product-overlay figcaption {
    position: relative;
    display: block;
    top: initial;
    left: initial;
    width: 100%;
    height: initial;
    background-color: initial;
    opacity: 1;
  }
  .product-overlay .caption-body {
    transform: none;
    padding: 0;
  }

  .nav-logo {
    height: 3em;
    width: auto;
  }

  .view-window {
    height: 40vh;
    position: relative;
    overflow: hidden;
    background-size: 425px 400px;
    background-position: center;
    background-attachment: scroll;
  }

  .logo-lg {
    height: 5em;
    width: auto;
  }

  .view-window-small {
    height: 10vh;
  }

  .card.section {
    height: 10%;
    padding: 0.1em;
    margin-top: 0;
    margin-bottom: 0.1em;
    border-radius: 0.5em;
    opacity: 0.8;
  }

  .card.section a {
    text-decoration: none;
  }
  .card.section h2 {
    font-size: 1em;
    font-weight: bold;
    text-align: right;
    padding-right: 0.25em;
  }
}

.page-head {
  color: var(--color-main-dark);
}

body {
  background: var(--color-main-light);
  color: var(--color-accent-dark);
  padding-bottom: 4em;
}

hr {
  border-width: 0;
  margin: 1em 0;
  border-bottom: solid 1px var(--color-main-medium);
}

.double {
  border-top: solid 1px var(--color-main-medium);
  border-bottom: solid 1px var(--color-main-medium);
  padding: 2px 0px;
}

.favorite label {
  transition: all 0.3s;
  display: inline-block;
  transform: scale(1, 1);
  color: var(--color-neutral-medium);
}
.favorite input:checked + label {
  color: var(--color-secondary-medium);
  transform: scale(1.5, 1.5);
}

.navbar {
  background-color: var(--color-white);
  color: var(--color-main-dark);
  line-height: var(--header-height);
}

.navbar h1 .navbar li {
  font-size: 1.5em;
  margin: 0;
  font-family: var(--font-serif);
}

.card.section {
  height: 75%;
  padding: 0.25em;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  border-radius: 0.5em;
  opacity: 0.8;
}

.card.outline {
  border-radius: 0.2em;
  border: 3px solid var(--color-main-dark);
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--color-main-dark);
  font-family: var(--font-serif);
  text-align: center;
}

.card.light {
  background-color: var(--color-accent-light);
}

.card.medium {
  background-color: var(--color-secondary-medium);
  color: var(--color-accent-light);
}
.card.dark {
  background-color: var(--color-main-dark);
}

.article-body {
  padding-left: 10px;
}

.text-center {
  text-align: center;
}

.figure.product {
  border-radius: 0.5em;
  box-shadow: 0 2px 5px hsla(308, 77%, 46%, 0.096);
  overflow: hidden;
  height: 100%;
}
.figure.product a {
  text-decoration: none;
}

.product-price {
  font-size: 1.3em;
  font-weight: bold;
  text-decoration: none;
}

.product-title {
  font-size: 0.9em;
  font-style: italic;
  text-decoration: none;
}

.checkout-image {
  background-color: var(--color-main-light);
  border-radius: 0.5em;
}

.checkout-title {
  font-family: var(--font-serif);
  font-weight: bold;
  font-size: 1.2em;
  color: var(--color-secondary-medium);
}

.checkout-price {
  font-size: 1.25em;
  font-weight: bold;
  color: var(--color-main-dark);
}

.product-overlay {
  border-radius: 0.5em;
  position: relative;
  overflow: hidden;
}
.product-overlay figcaption {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(87, 14, 116, 0.11);
  opacity: 0;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-overlay:hover figcaption {
  opacity: 1;
}
.product-overlay .caption-body {
  background-color: var(--color-accent-light);
  border-radius: 0.5em;
  padding: 1em;
  transform: translateY(2em);
  transition: all 0.3s;
}
.product-overlay:hover .caption-body {
  transform: translateY(0);
}
.product-overlay img {
  transform: scale(1, 1);
  transition: all 0.3s;
}
.product-overlay:hover img {
  transform: scale(1.4, 1.4);
}
.product-overlay a,
.product-overlay button {
  display: inline-block;
  width: 100%;
  border-width: 0;
  border-radius: 2em;
  background-color: var(--color-secondary-medium);
  color: var(--color-accent-light);
  font-family: var(--font-serif);
  text-align: center;
}
.product-overlay a:hover,
.product-overlay button:hover {
  background-color: var(--color-accent-medium);
  box-shadow: 0 2px 5px var(--color-secondary-tone);
}
.product-overlay a,
.product-overlay a:hover {
  text-decoration: none;
}

.image-main img {
  width: 100%;
  height: 55vh;
  object-fit: contain;
}
.cart-thumb img,
.image-thumb img {
  width: 8em;
  height: 6em;
  object-fit: contain;
}

.cart-thumb img {
  padding-right: 0.5em;
}

/* COLOR CHIP */

.color-chip {
  margin: 0.2em;
  text-align: center;
  color: var(--color-accent-light);
  font-weight: bold;
}
.color-chip.light {
  margin: 0.2em;
  text-align: center;
  color: var(--color-accent-dark);
}

.color-label {
  font-weight: bold;
  text-align: center;
}

/* BUTTON */
.overlay-button,
.product-button,
.form-button {
  font-family: var(--font-serif);
  font-size: 1.5em;
  background-color: var(--color-secondary-medium);
  color: var(--color-accent-light);
}
.form-button-light {
  background-color: var(--color-secondary-light);
  color: var(--color-accent-dark);
}
.product-button:hover,
.form-button:hover,
.form-button-light:hover {
  background-color: var(--color-accent-medium);
  box-shadow: 0 2px 5px var(--color-secondary-tone);
  color: var(--color-main-dark);
  text-decoration: none;
}
.overlay-button,
.product-button {
  display: inline-block;
  width: 100%;
  border-width: 0;
  padding: 0.5em 0.5em;
}
.form-button-light:hover {
  color: var(--color-main-dark);
}

.hotdog {
  background-color: var(--color-accent-light);
  color: var(--color-main-dark);
  border: solid 0.5px var(--color-main-dark);
  border-radius: 2em;
  padding: 0.25em 1.25em;
  display: flex;
}

.nav-crumbs a {
  color: var(--color-main-tone);
}
.nav-crumbs a:hover {
  color: var(--color-secondary-medium);
}

span.badge:not(:empty) {
  background-color: var(--color-accent-medium);
  color: var(--color-main-dark);
  border-radius: 2em;
  padding: 0.25em;
}
