:root {
  --color-main-light: #ede3f0;
  --color-main-medium: #792a84;
  --color-main-dark: #4c1c54;
  --color-main-tone: #7d5f82;

  --color-secondary-light: #f8eaf4;
  --color-secondary-medium: #c658a5;
  --color-secondary-dark: #512547;
  --color-secondary-tone: #99728e;

  --color-accent-light: #f8f9e5;
  --color-accent-medium: #d7df27;
  --color-accent-dark: #373917;
  --color-accent-tone: #959768;

  --color-text-light: #8ca19b;
  --color-text-dark: #1c4436;

  --font-display: "Spicy Rice", Arial, sans-serif;
  --font-serif: "Mountains of Christmas", serif;
  --font-sans: "Quicksand", sans-serif;
}

h1 {
  font-family: var(--font-serif);
  color: var(--color-main-medium);
}

h2 {
  font-family: var(--font-display);
  color: var(--color-secondary-medium);
}

h3,
h4,
h5,
h6 {
  font-family: var(--font-sans);
  color: var(--color-text-dark);
}
@media (max-width: 800px) {
  .container {
    padding-left: 1em;
    padding-right: 1em;
  }
  .navbar h1 {
    padding-left: 0.5em;
  }
}

@media (max-width: 400px) {
  .navbar .display-flex {
    display: block;
  }
  .navbar .nav li {
    line-height: 1em;
  }
}

body {
  background: var(--color-main-light);
  color: var(--color-text-dark);
}

.navbar {
  background: linear-gradient(to right, #4c1c54, #792a84);
  color: var(--color-white);
  line-height: var(--header-height);
}

.navbar h1 {
  font-size: 1.5em;
  color: var(--color-white);
  margin: 0;
  font-family: var(--font-serif);
}

.card.outline {
  border-radius: 0.2em;
  border: 3px solid var(--color-main-dark);
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--color-main-dark);
  font-family: var(--font-sans);
}

.heading {
  color: var(--color-main-dark);
}

.heading h3 {
  width: 50%;
}

.article-body {
  padding-left: 10px;
}

.text-center {
  text-align: center;
}

.figure.product {
  border-radius: 0.5em;
  box-shadow: 0 2px 5px hsla(308, 77%, 46%, 0.096);
  overflow: hidden;
}
.product-overlay {
  position: relative;
  overflow: hidden;
}
.product-overlay figcaption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(87, 14, 116, 0.11);
  opacity: 0;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-overlay:hover figcaption {
  opacity: 1;
}
.product-overlay .caption-body {
  background-color: white;
  border-radius: 0.5em;
  padding: 1em;
  transform: translateY(2em);
  transition: all 0.3s;
}
.product-overlay:hover .caption-body {
  transform: translateY(0);
}
.product-overlay img {
  transform: scale(1, 1);
  transition: all 0.3s;
}
.product-overlay:hover img {
  transform: scale(1.4, 1.4);
}

@media (max-width: 400px) {
  .product-overlay figcaption {
    position: relative;
    display: block;
    top: initial;
    left: initial;
    width: 100%;
    height: initial;
    background-color: initial;
    opacity: 1;
  }
  .product-overlay .caption-body {
    transform: none;
    padding: 0;
  }
}

/* COLOR CHIP */

.color-chip {
  margin: 0.2em;
  text-align: center;
  font-weight: bold;
}

.color-label {
  font-weight: bold;
  text-align: center;
}
