div.cnt01{
    padding-top: 0;
}

div.cnt01 header{
    background-image: url("https://images.pexels.com/photos/374894/pexels-photo-374894.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-color: rgba(0,0,0,0.8);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: color;
    padding-top: 160px;
    padding-bottom: 240px;
    width: auto;
    max-width: none;

}
div.cnt01 header h3{
    font-size: 3em;
    color: #fff;
    }

div.cnt01 header p{
font-size: 1.3em;
color: #fff;
}

button{
    font-size: 1.5em;
    background-color: white;
    border-radius: 6px;
}
div.cnt01 section{
    margin-top: -160px; 
    display: flex;
    justify-content: space-between;
}
div.cnt01 section article{
    width: calc(100% / 4 - 20px);
}
div.cnt01 article .image{
    height: 360px; background-color: #999;
}

div.cnt01 article .texts{
    text-align: center;
}
div.cnt01 article .texts p{
    height: 80px;
}

div.cnt01 .image{
    background-position: center;
    background-size: cover;
}
div.cnt01 .i1{background-image: url(../image/top.jpg);}
div.cnt01 .i2{background-image: url(../image/bottom.jpg);}
div.cnt01 .i3{background-image: url(../image/dress1.jpg);}
div.cnt01 .i4{background-image: url(../image/others.jpg);}
