
body {
    background-color: var(--color-primary-light);
}

#tableofcontents ul li {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

    #tableofcontents ul li a:hover {
        color: var(--color-accent-red-light);
    }


    #tableofcontents .card {
        width: 50%;
        text-align: left;
    }

    #tableofcontents h3 {
        padding-left: 1rem;
    }


#cards .card-light h4,
#cards .card-dark h4,
#cards .card-img h4 {
    position: relative;
    top: 36%;
}


.card nav,
.card-light nav,
.card-dark nav {
    text-align: left;
}




@media (max-width: 800px) {
    .container {
        padding-left: 1em;
        padding-right: 1em;
    }

    #tableofcontents .card {
        width: 80%;
    }
    
    /*.navbar h1 {
        padding-left: 1em;
    }*/
}


@media (max-width: 400px) {
    .navbar .display-flex {
        display: block;
    }

    .navbar .nav li {
        line-height: 2em;
    }

    #tableofcontents .card {
        width: 100%;
    }
}